html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.app {
  min-height: 100vh; /* Занимает всю высоту окна */
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}

html.light, body.light, #root.light {
  background-color: #fff;
  color: #000;
}

html.dark, body.dark, #root.dark {
  background-color: #333;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}